
<head>
  <title>Google Icons</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><h1>Disciplinas</h1></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
   

    </ul>
    <form class="form-inline my-2 my-lg-0">
       <button type="button" class="btn btn-outline-primary"  (click)="adicionar()" ><i class="material-icons"  >add_circle</i> Disciplina</button>
    </form>
  </div>
</nav>


<table class="table table-bordered table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col" width="80">Código</th>
        <th scope="col">Nome</th>
        <th scope="col" width="300">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let disciplina of disciplinas" >
        <th scope="row">{{disciplina.codigo}}</th>
        <td>
          {{disciplina.nome}}
        </td>
        <td>

          

          <button  data-toggle="modal" data-target="#exampleModal" class="btn btn-info" (click)="editar(disciplina)" (click)="naoadicionar()"  >
            <i class="material-icons">zoom_in</i>
          </button>

            <button class="btn btn btn-primary" (click)="editar(disciplina)" >
              <i class="fa fa-pencil-square"></i> <i class="material-icons">mode_edit</i> 
            </button>

           <button class="btn btn btn-primary"  class="btn btn-danger" (click)="excluir(disciplina)">
             <i class="material-icons">delete_sweep</i>
           </button>
        </td>
      </tr>
    </tbody>
  </table>




<div class="container">
  <div *ngIf="adicionando == true"  >
    <h2>Cadastrar Disciplina</h2>
    <p>Use este formulário para cadastrar ou editar uma disciplina.</p>
    <form #cadastro="ngForm" (submit)="salvar()">
  
        <div>
            <label for="nomeprof">Professor(a)</label><br>
            <input type="text" id="nomeprof" name="nomeprof" [(ngModel)]="nomeprof" required>
        </div>
        <div>
            <label for="nome">Disciplina</label><br>
            <input type="text" id="nome" name="nome" [(ngModel)]="nome" required>
        </div>
  
        <div>
            <label for="descricao">Descrição</label><br>
            <textarea id="descricao" name="descricao" [(ngModel)]="descricao"
                      cols="70" rows="5"></textarea>
        </div>
  
        <button class="btn btn-sm btn-primary" class="btn btn-default" type="reset" (click)="cancelar()">Cancelar</button>
        <button class="btn btn-sm btn-primary"  type="submit" [disabled]="!cadastro.valid">Salvar</button>
        <p>
 
    </form>
  
  
  </div>
</div>



<div class="modal" tabindex="-1" role="dialog" id="exampleModal" aria-labelledby="exampleModal" aria-hidden="true">

    <div class="modal-dialog" role="document">
  
      <div class="modal-content">
  
        <div class="modal-header">
  
          <h5 class="modal-title">Detalhes </h5>
  
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancelar()">
  
            <span aria-hidden="true">&times;</span>
  
          </button>
  
        </div>
  
        <div class="modal-body">
            <h5>Professor:</h5> {{nomeprof}}<p>
            <h5>Disciplina:</h5> {{nome}}<p>
            <h5> Descrição: </h5><p> {{descricao}}<p>        
        </div>
  
        <div class="modal-footer">
  
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelar()">OK</button>
  
        </div>
  
      </div>
  
    </div>
  
  </div>