
<head>
  <title>Google Icons</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><h1>Disciplinas</h1></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
   

    </ul>
    <form class="form-inline my-2 my-lg-0">
       <button type="button" class="btn btn-outline-primary"  (click)="adicionar()" ><i class="material-icons"  >add_circle</i> Disciplina</button>
    </form>
  </div>
</nav>


<table class="table table-bordered table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col" width="80">Código</th>
        <th scope="col">Nome</th>
        <th scope="col" width="300">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let disciplina of disciplinas" >
        <th scope="row">{{disciplina.codigo}}</th>
        <td>
          {{disciplina.nome}}
        </td>
        <td>

          

            <button class="btn btn btn-primary" (click)="editar(disciplina)" >
              <i class="fa fa-pencil-square"></i>  <i class="material-icons">mode_edit</i> Editar 
            </button>

           <button class="btn btn btn-primary"  class="btn btn-danger" (click)="excluir(disciplina)">
             <i class="material-icons">delete_sweep</i> Excluir
           </button>

        </td>
      </tr>
    </tbody>
  </table>



  <div *ngIf="mostrando"  class="container" >
    
  <h2>Cadastrar</h2>
  <p>Use este formulário para cadastrar ou editar uma disciplina.</p>
  <div *ngIf="salvar_ok || editar_ok" class="alert alert-success">
      <strong>Sucesso!</strong> A disciplina foi cadastrada ou atualizada
      com sucesso.
  </div>

  <form #cadastro="ngForm" (submit)="salvar()">

      <div class="form-group">
          <label for="codigo" >Codigo  </label>
          <input class="form-group" id="disabledInput" type="text" placeholder="  {{codigo}}" disabled>
      </div>




      <div class="form-group">
          <label for="nome">Nome</label> 
          <input type="text" id="nome" name="nome" class="form-control"
                 [(ngModel)]="nome"
                 required>
      </div>

      <div class="form-group">
          <label for="descricao">Descrição</label><br>
          <textarea id="descricao" name="descricao" class="form-control"
                    [(ngModel)]="descricao"
                    cols="70" rows="5"></textarea>
      </div>

      <div class="form-group">
        <label for="data">Data</label><br>
        <input type="Date" id="data" name="data" class="form-control"
               [(ngModel)]="data"
               required>
    </div>

    <div class="form-group">
      <input type="checkbox" id="isAtiva" name="isAtiva" class="form-check-input"
         [(ngModel)]="isAtiva" > 
      <label class="form-check-label" for="isAtiva">Está ativa</label>
    </div>
 

    <div *ngIf="tipo"  class="container" >

      <div class="form-group"  >
        <label><input type="radio" id = "tipo" name="tipo" (click)="tipoPrimario()"  checked >Principal</label>
        </div>
      <div class="form-group">
        <label><input type="radio" id = "tipo" name="tipo"  (click)="tipoSecundario()"    >Secundária</label>
      </div>
    </div>

    <div *ngIf="tipo == false"  class="container" >

        <div class="form-group"  >
          <label><input type="radio" id = "tipo" name="tipo" (click)="tipoPrimario()"   >Principal</label>
          </div>
        <div class="form-group">
          <label><input type="radio" id = "tipo" name="tipo"  (click)="tipoSecundario()"  checked  >Secundária</label>
        </div>
      </div>



      <div class="text-right">
          <button type="submit" class="btn btn-primary"
                  [disabled]="!cadastro.valid">
              <i class="fa fa-save"></i> Salvar
          </button>
          <button type="reset" class="btn btn-secondary" (click)="limpar()">
              Cancelar
          </button>
      </div>




    </form>


  </div>
